<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carpinteria.com</title>
    <link rel="stylesheet" href="/Exerciçios/layout/site de carpitaria/Styles/style.css">
</head>
<body>
    <div id="page-container">

	
	
        <header id="main-header" data-height-onload="90">
        <div class="container clearfix et_menu_container">
                        <div class="logo_container">
                <span class="logo_helper"></span>
                <a href="#">
                    <img src="/Exerciçios/layout/site de carpitaria/Styles/logo_carpintaria_menu-1.png" alt="Carpinteria Estruturas de Madeira" id="logo" />
                </a>
            </div>
                        <div id="et-top-navigation" data-height="90" data-fixed-height="90">
                                        <nav id="top-menu-nav">
                    <ul id="top-menu" class="nav"><li id="menu-item" class="menu-item ><a href="#" aria-current="page">HOME</a></li>
<li id="menu-item-"><a href="#">PORTFOLIO</a></li>
<li id="menu-item-592"><a href="#">EMPRESA</a>
<ul class="sub-menu">
<li id="menu-item-2242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2242"><a href="#">VISÃO</a></li>
<li id="menu-item-26936" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26936"><a href="#">SERVIÇOS</a></li>
</ul>
</li>
<li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="#">CURSOS/PALESTRAS</a></li>
<li id="menu-item-593" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-593"><a href="#">EXTRAS</a>
<ul class="sub-menu">
<li id="menu-item-332" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-332"><a href="#">BLOG &#8211; NOVIDADES</a></li>
<li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266"><a href="#">F.A.Q</a></li>
<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="#">VÍDEOS</a></li>
<li id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a href="#">CURIOSIDADES</a></li>
</ul>
</li>
<li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="#">CONTATO</a></li>
</ul>						</nav>
                
                
                
                                    <div id="et_top_search">
                    <span id="et_search_icon"></span>
                </div>
                
                <div id="et_mobile_nav_menu">
            <div class="mobile_nav closed">
                <span class="select_page">Select Page</span>
                <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
            </div>
        </div>				</div> <!-- #et-top-navigation -->
        </div> <!-- .container -->
        <div class="et_search_outer">
            <div class="container et_search_form_container">
                <form role="search" method="get" class="et-search-form" action="#">
                <input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />					</form>
                <span class="et_close_search_field"></span>
            </div>
        </div>
    </header> <!-- #main-header -->
        <div id="et-main-area">

<div id="main-content">


        
            <article id="post-732" class="post-732 page type-page status-publish hentry">

            
                <div class="entry-content">
                <div id="et-boc" class="et-boc">
        
    <div class="et-l et-l--post">
        <div class="et_builder_inner_content et_pb_gutters3">
    <div class="et_pb_section et_pb_section_0 et_pb_fullwidth_section et_section_regular" >
            
            
            
            
                <section class="et_pb_with_border et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_hover_enabled et_pb_section_video et_pb_preload et_pb_text_align_left et_pb_bg_layout_dark et_pb_fullscreen">
            
            <span class="et_pb_section_video_bg  ">
                
        <video loop="loop" autoplay playsinline muted >
            <source type="video/mp4" src="/Exerciçios/layout/site de carpitaria/Styles/SIte-Nova-Carpinteria-R01-LOW03.mp4" />
            <source type="video/webm" src="SIte-Nova-Carpinteria-R01-LOW03.webm" />
        </video>
            </span>
            <div class="et_pb_fullwidth_header_container left">
                <div class="header-content-container center">
                <div class="header-content">
                    
                    <h1 class="et_pb_module_header">CARPINTERIA</h1>
                    <span class="et_pb_fullwidth_header_subhead">MADEIRA INTELIGENTE</span>
                    <div class="et_pb_header_content_wrapper"></div>
                    
                </div>
            </div>
                
            </div>
            <div class="et_pb_fullwidth_header_overlay"></div>
            <div class="et_pb_fullwidth_header_scroll"><a href="#" class="scroll-down-container">
                <span class="scroll-down et-pb-icon"></span>
                
                
            </a></div>
        </section>
            
            
        </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_1 et_pb_section_parallax et_pb_with_background et_section_regular" >
            
            <div class="et_parallax_bg_wrap"><div
                    class="et_parallax_bg"
                    style="background-image: url(/Exerciçios/layout/th.jfif);"
                ></div></div>
            
            
                <div class="et_pb_row et_pb_row_0">
            <div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
            
            
            <div class="et_pb_module et_pb_text et_pb_text_0 et_animated  et_pb_text_align_left et_pb_bg_layout_light">
            
            
            <div class="et_pb_text_inner"><h1>SOMOS APAIXONADOS POR MADEIRA!</h1>
<p><span>A Carpinteria é um premiado escritório brasileiro de projetos, concepção e montagem de estruturas de madeira. Nos últimos anos desenvolvemos e montamos diversos projetos de estruturas em madeira por todo o Brasil e ajudamos a fomentar e crescer o mercado de estruturas de madeira em todo território nacional. </span></p>
<p><span>A Carpinteria hoje é reconhecida como expoente na vanguarda das estruturas de madeira no Brasil, trazendo soluções elegantes e de custo efetivo integrado com a arquitetura e o detalhe estrutural. O escritório foi o ganhador do Prêmio Talento Estrutural de 2014 e 2017, despontando como a PRÓXIMA GERAÇÃO do design em madeira no Brasil.</span></p>
<p>&nbsp;</p></div>
        </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
            
            
            <div class="et_pb_module et_pb_slider et_pb_slider_0 et_animated et_hover_enabled et_pb_slider_fullwidth_off et_slider_auto et_slider_speed_5000">
            <div class="et_pb_slides">
                <div class="et_pb_slide et_pb_slide_0 et_hover_enabled et_pb_bg_layout_dark et_pb_media_alignment_center et-pb-active-slide" data-slide-id="et_pb_slide_0">
            
            
            <div class="et_pb_container clearfix">
                <div class="et_pb_slider_container_inner">
                    
                    <div class="et_pb_slide_description">
                        
                        <div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="#">VEJA NOSSO PORTFOLIO</a></div>
                    </div> <!-- .et_pb_slide_description -->
                </div>
            </div> <!-- .et_pb_container -->
            
        </div> <!-- .et_pb_slide -->
        <div class="et_pb_slide et_pb_slide_1 et_hover_enabled et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_1">
            
            
            <div class="et_pb_container clearfix">
                <div class="et_pb_slider_container_inner">
                    
                    <div class="et_pb_slide_description">
                        
                        <div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="#">VEJA NOSSO PORTFOLIO</a></div>
                    </div> <!-- .et_pb_slide_description -->
                </div>
            </div> <!-- .et_pb_container -->
            
        </div> <!-- .et_pb_slide -->
        <div class="et_pb_slide et_pb_slide_2 et_hover_enabled et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_2">
            
            
            <div class="et_pb_container clearfix">
                <div class="et_pb_slider_container_inner">
                    
                    <div class="et_pb_slide_description">
                        
                        <div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="#">VEJA NOSSO PORTFOLIO</a></div>
                    </div> <!-- .et_pb_slide_description -->
                </div>
            </div> <!-- .et_pb_container -->
            
        </div> <!-- .et_pb_slide -->
        <div class="et_pb_slide et_pb_slide_3 et_hover_enabled et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_3">
            
            
            <div class="et_pb_container clearfix">
                <div class="et_pb_slider_container_inner">
                    
                    <div class="et_pb_slide_description">
                        
                        <div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="#">VEJA NOSSO PORTFOLIO</a></div>
                    </div> <!-- .et_pb_slide_description -->
                </div>
            </div> <!-- .et_pb_container -->
            
        </div> <!-- .et_pb_slide -->
        <div class="et_pb_slide et_pb_slide_4 et_hover_enabled et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_4">
            
            
            <div class="et_pb_container clearfix">
                <div class="et_pb_slider_container_inner">
                    
                    <div class="et_pb_slide_description">
                        
                        <div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="#">VEJA NOSSO PORTFOLIO</a></div>
                    </div> <!-- .et_pb_slide_description -->
                </div>
            </div> <!-- .et_pb_container -->
            
        </div> <!-- .et_pb_slide -->
        <div class="et_pb_slide et_pb_slide_5 et_hover_enabled et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_5">
            
            
            <div class="et_pb_container clearfix">
                <div class="et_pb_slider_container_inner">
                    
                    <div class="et_pb_slide_description">
                        
                        <div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="#">VEJA NOSSO PORTFOLIO</a></div>
                    </div> <!-- .et_pb_slide_description -->
                </div>
            </div> <!-- .et_pb_container -->
            
        </div> <!-- .et_pb_slide -->
        
            </div> <!-- .et_pb_slides -->
            
        </div> <!-- .et_pb_slider -->
        
        </div> <!-- .et_pb_column -->
            
            
        </div> <!-- .et_pb_row -->
            
            
        </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_2 et_section_regular section_has_divider et_pb_top_divider" >
            <div class="et_pb_top_inside_divider et-no-transition"></div>
            
            
            
                <div class="et_pb_row et_pb_row_1">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
            
            
            <div class="et_pb_module et_pb_text et_pb_text_1 et_animated  et_pb_text_align_left et_pb_bg_layout_light">
            
            
            <div class="et_pb_text_inner"><h1 style="text-align: center;">COMO PODEMOS AJUDAR?</h1>
<p style="text-align: center;">Veja abaixo os serviços que a Carpinteria pode oferecer</p></div>
        </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
            
            
        </div> <!-- .et_pb_row -->
            
            
        </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_3 et_section_regular" >
            
            
            
            
                <div class="et_pb_row et_pb_row_2">
            <div class="et_pb_column et_pb_column_1_3 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
            
            
            <div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_animated  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
            
            
            <div class="et_pb_blurb_content">
                <div class="et_pb_main_blurb_image"><a href="#"><span class="et_pb_image_wrap"><img loading="lazy" width="1080" height="608" src="/Exerciçios/layout/site de carpitaria/Styles/Projetos2.jpg" alt="Projetos2" sizes="(max-width: 1080px) 100vw, 1080px" class="et-waypoint et_pb_animation_top wp-image-1919" data-recalc-dims="1" /></span></a></div>
                <div class="et_pb_blurb_container">
                    <h4 class="et_pb_module_header"><a href="#">PROJETO/CÁLCULO ESTRUTURAL</a></h4>
                    <div class="et_pb_blurb_description"><p style="text-align: center;">Cálculo e Detalhamento de Estruturas de Madeira de acordo com a NBR7190 e Eurocode05 com softwares avançados</p></div>
                </div>
            </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
            
            
            <div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_animated  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
            
            
            <div class="et_pb_blurb_content">
                <div class="et_pb_main_blurb_image"><a href="#"><span class="et_pb_image_wrap"><img loading="lazy" width="1080" height="608" src="/Exerciçios/layout/site de carpitaria/Styles/Confiabilidade.jpg" alt="03" sizes="(max-width: 1080px) 100vw, 1080px" class="et-waypoint et_pb_animation_top wp-image-1925" data-recalc-dims="1" /></span></a></div>
                <div class="et_pb_blurb_container">
                    <h4 class="et_pb_module_header"><a href="#">LAUDOS, PERÍCIAS E CONSULTORIAS</a></h4>
                    <div class="et_pb_blurb_description"><p style="text-align: center;">Laudos técnicos e recuperação de estruturas existentes. Consultoria para projetos. Ensaios em geral.</p></div>
                </div>
            </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
            
            
            <div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_animated  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
            
            
            <div class="et_pb_blurb_content">
                <div class="et_pb_main_blurb_image"><a href="#"><span class="et_pb_image_wrap"><img loading="lazy" width="1080" height="608" src="/Exerciçios/layout/site de carpitaria/Styles/Montagem8.jpg" sizes="(max-width: 1080px) 100vw, 1080px" class="et-waypoint et_pb_animation_top wp-image-1922" data-recalc-dims="1" /></span></a></div>
                <div class="et_pb_blurb_container">
                    <h4 class="et_pb_module_header"><a href="#">MONTAGEM DE ESTRUTURAS</a></h4>
                    <div class="et_pb_blurb_description"><p style="text-align: center;">Montagem de todo tipo de Estrutura em Madeira de acordo com projeto executivo</p></div>
                </div>
            </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->
            
            
        </div> <!-- .et_pb_row -->
            
            
        </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_4 et_section_regular" >
            
            
            
            
                <div class="et_pb_row et_pb_row_3">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
            
            
            <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
            
            
            <div class="et_pb_text_inner"><h1 style="text-align: center;">QUE TIPO DE ESTRUTURA VOCÊ PROCURA?</h1>
<p style="text-align: center;">Madeira Engenheirada como GLULAM ou CLT? Ou madeira maciça como CUMARÚ ou EUCALIPTO ROLIÇO?</p></div>
        </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
            
            
        </div> <!-- .et_pb_row -->
            
            
        </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_5 et_section_regular" >
            
            
            
            
                <div class="et_pb_row et_pb_row_4 et_animated">
            <div class="et_pb_column et_pb_column_1_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
            
            
            <div class="et_pb_module et_pb_image et_pb_image_0">
            
            
            <span class="et_pb_image_wrap "><img loading="lazy" src="/Exerciçios/layout/site de carpitaria/Styles/Glulam2-1.jpeg" alt="GLUB" title="GLUB" height="auto" width="auto"sizes="(max-width: 523px) 100vw, 523px" class="wp-image-1955" data-recalc-dims="1" /></span>
        </div>
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
            
            
            <div class="et_pb_module et_pb_image et_pb_image_1">
            
            
            <span class="et_pb_image_wrap "><img loading="lazy" src="/Exerciçios/layout/site de carpitaria/Styles/CLT5-1.png" alt="CT5" title="CT5" height="auto" width="auto" sizes="(max-width: 339px) 100vw, 339px" class="wp-image-1956" data-recalc-dims="1" /></span>
        </div>
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">
            
            
            <div class="et_pb_module et_pb_image et_pb_image_2">
            
            
            <span class="et_pb_image_wrap "><img loading="lazy" src="/Exerciçios/layout/site de carpitaria/Styles/Hardwood-1.jpg" alt="ROUND" title="ROUND" height="auto" width="auto" sizes="(max-width: 654px) 100vw, 654px" class="wp-image-1950" data-recalc-dims="1" /></span>
        </div>
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">
            
            
            <div class="et_pb_module et_pb_image et_pb_image_3">
            
            
            <span class="et_pb_image_wrap "><img loading="lazy" src="/Exerciçios/layout/site de carpitaria/Styles/Round-1.jpg" alt="" title="" height="auto" width="auto" sizes="(max-width: 331px) 100vw, 331px" class="wp-image-1951" data-recalc-dims="1" /></span>
        </div>
        </div> <!-- .et_pb_column -->
            
            
        </div> <!-- .et_pb_row -->
            
            
        </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular" >
            
            
            
            
                <div class="et_pb_row et_pb_row_5">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
            
            
            <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
            
            
            <div class="et_pb_text_inner"><h1 style="text-align: center;">NOVIDADES</h1></div>
        </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_center et_pb_bg_layout_light">
            
            
            <div class="et_pb_text_inner">Saiba tudo sobre o uso da madeira na construção civil e acompanhe o dia a dia dos nossos projetos.</div>
        </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
            
            
        </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_6">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
            
            
            <div class="et_pb_with_border et_pb_module et_pb_blog_0 et_animated et_pb_blog_grid_wrapper">
                <div class="et_pb_blog_grid clearfix ">
                
                
                <div class="et_pb_ajax_pagination_container">
                    <div class="et_pb_salvattore_content" data-columns>
        <article id="post-27505" class="et_pb_post clearfix et_pb_has_overlay et_pb_blog_item_0_0 post-27505 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias">

            <div class="et_pb_image_container"><a href="#" class="entry-featured-image-url"><img loading="lazy" src="/Exerciçios/layout/site de carpitaria/Styles/Hauff-08.jpg" alt="A história das Estruturas de Madeira no Brasil" class=""  sizes="(max-width:479px) 479px, 100vw "  width="400" height="250" /><span class="et_overlay"></span></a></div> <!-- .et_pb_image_container -->
                                                    <h2 class="entry-title"><a href="#">A história das Estruturas de Madeira no Brasil</a></h2>
            
                <p class="post-meta"><span class="published">Ago 2, 2020</span></p><div class="post-content"><div class="post-content-inner"><p>Desde que eu comecei a trabalhar com estruturas de madeira, no ano de 1998, tivo o prazer e o privilégio de conhecer grandes nomes das Estruturas de Madeira no nosso país. Muitas dessas empresas já nem existem mais, mas foram muito importantes para o desenvolvimento...</p>
</div></div>			
        </article> <!-- .et_pb_post -->
            
        <article id="post" class="et_pb_post clearfix et_pb_has_overlay et_pb_blog_item_0_1 post-27417 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias tag-arquitetura-em-madeira tag-clt tag-engenharia-civil tag-engenharia-em-madeira tag-madeira-engenheirada tag-madeira-laminada-colada tag-madeira-laminada-cruzada tag-madeira-massiva tag-mass-timber tag-mlc tag-predio-de-madeira">

            <div class="et_pb_image_container"><a href="#" class="entry-featured-image-url"><img loading="lazy" src="/Exerciçios/layout/site de carpitaria/Styles/CLTindustry-1080x675-1.jpg" alt="Então você quer construir mais uma fábrica de CLT?"  width="400" height="250" /><span class="et_overlay"></span></a></div> <!-- .et_pb_image_container -->
                                                    <h2 class="entry-title"><a href="#">Então você quer construir mais uma fábrica de CLT?</a></h2>
            
                <p class="post-meta"><span class="published">Fev 28, 2020</span></p><div class="post-content"><div class="post-content-inner"><p>Esses dias li um artigo fascinante de meu colega Paul Kremer no Linkedin que ajuda a esclarecer um tópico muito importante na indústria madeireira.  No artigo, Paul avalia os prós e os contras dos vários níveis de automação necessários pra colocar pra funcionar uma...</p>
</div></div>			
        </article> <!-- .et_pb_post -->
            
        <article id="post-27409" class="et_pb_post clearfix et_pb_has_overlay et_pb_blog_item_0_2 post-27409 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias tag-arquitetura-em-madeira tag-clt tag-engenharia-civil tag-engenharia-em-madeira tag-madeira-engenheirada tag-madeira-laminada-colada tag-madeira-laminada-cruzada tag-madeira-massiva tag-mass-timber tag-mlc tag-predio-de-madeira">

            <div class="et_pb_image_container"><a href="#" class="entry-featured-image-url"><img loading="lazy" src="/Exerciçios/layout/site de carpitaria/Styles/StadtHAUS-02.jpg" alt="Por que construir prédios com madeira?" sizes="(max-width:479px) 479px, 100vw "  width="400" height="250" /><span class="et_overlay"></span></a></div> <!-- .et_pb_image_container -->
                                                    <h2 class="entry-title"><a href="#">Por que construir prédios com madeira?</a></h2>
            
                <p class="post-meta"><span class="published">Jan 5, 2020</span></p><div class="post-content"><div class="post-content-inner"><p>Uma migração da população para os centros das cidades provocou explosões maciças de construção de edifícios em todo o mundo. Com falta de recursos e espaço como consequência da rápida urbanização, novas formas de construção de edifícios sustentáveis devem ser...</p>
</div></div>			
        </article> <!-- .et_pb_post -->
            </div><!-- .et_pb_salvattore_content -->
                </div>
                </div> <!-- .et_pb_posts --> 
            </div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
            <a class="et_pb_button et_pb_button_0 et_hover_enabled et_pb_bg_layout_light" href="#">LEIA MAIS</a>
        </div>
        </div> <!-- .et_pb_column -->
            
            
        </div> <!-- .et_pb_row -->
            
            
        </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_7 et_pb_fullwidth_section et_section_regular" >
            
            
            
            
                <div class="et_pb_module et_pb_fullwidth_image et_pb_fullwidth_image_0">
            
            
            <img loading="lazy" src="/Exerciçios/layout/site de carpitaria/Styles/Colagem_Principal-2.png" alt="12" title="12" height="auto" width="auto" sizes="(max-width: 1080px) 100vw, 1080px" class="wp-image-1969" data-recalc-dims="1" />
        
        </div>
            
            
        </div> <!-- .et_pb_section -->		</div><!-- .et_builder_inner_content -->
</div><!-- .et-l -->

        
    </div><!-- #et-boc -->
                        </div> <!-- .entry-content -->

            
            </article> <!-- .et_pb_post -->

        

</div> <!-- #main-content -->


        <footer id="main-footer">
            
<div class="container">
<div id="footer-widgets" class="clearfix">
    <div class="footer-widget"><div id="text-6" class="fwidget et_pb_widget widget_text">			<div class="textwidget"></div>
    </div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="text-7" class="fwidget et_pb_widget widget_text">			<div class="textwidget"></div>
    </div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="text-8" class="fwidget et_pb_widget widget_text">			<div class="textwidget"></div>
    </div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="text-5" class="fwidget et_pb_widget widget_text">			<div class="textwidget"><p><strong>FALE CONOSCO:</strong></p>
<p><strong>Telefone: </strong><br />
+55 11 3052 3510</p>
<p><strong>E-mail: </strong><br />
<a href="#">Construções@carpinteria.com.br</a></p>
</div>
    </div> <!-- end .fwidget --></div> <!-- end .footer-widget -->    </div> <!-- #footer-widgets -->
</div>    <!-- .container -->

    
            <div id="footer-bottom">
                <div class="container clearfix">
            <ul class="et-social-icons">

<li class="et-social-icon et-social-facebook">
    <a href="#" class="icon">
        <span>Facebook</span>
    </a>
</li>

</ul><div id="footer-info">2021 / So para estudos - Front-end por <a href="#" target="blank">Dev Antony Charles</a></div>					</div>	<!-- .container -->
            </div>
        </footer> <!-- #main-footer -->
    </div> <!-- #et-main-area -->


</div> <!-- #page-container -->

</body>
</html>