<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout_aula17</title>
</head>
<body>
    <!--Criamos uma tabela e passamos alguns elementos: (cellpadding cellspacing border-->
    <table cellpadding="10" cellspacing="10" border="1" align="center">
        <h1 align="center">TABELA LAYOUT</h1>
        <tr>
            <th colspan="2">Este é o cabeçalho do site</th>
        </tr>

        <tr>
        <td width="200">
            <table cellspacing="5" cellpadding="5">
                <tr>
                   <h3>MENU DO SITE </h3>
                </tr>
                    <button>Home</button>
                
                <br>
                    <p><button>Sobre a empresa</button></p>
                </tr>
                <tr>
                    <button>Contato</button>
                </tr>
            
            </table>
        </td>
     
         
        <td> <img src="/images/tecnh.jpg" alt="tecnh"> </td>
       </tr>
       <tr>
   <td colspan="2">
       <table  cellspacing="5" cellpadding="5" width="100%">
       </tr>
       <tr>
        <td width="25%" alingn="center">HTML</td>
        <td width="25%" alingn="center">CSS</td>
        <td width="25%" alingn="center">JavaScript</td>
        <td width="25%" alingn="center">JQuery</td>
       </table>
   </td>
     </tr>
     <tr>
         <th colspan="2">Este é o radapé do site</th>
     </tr>
    </table>
</body>
</html>